// Place all the styles related to the apis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  background-color: transparent;
  opacity: 1%;
  width:100%;
  height: 45px;
  position: fixed;
  top:0;
  z-index: 1;
}

.after-scroll {
  background-color: #e00036;
}

.logo {
  position: left top;
  height: 50px;
}

.main {
  background-image: url("yummybeast.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-color: #e00036;
  height: 300px;
  box-shadow: 0 5px 5px 0px #888888;
  position: relative;
}

.hello{
  margin-left: 27px
}

.navbar{
  background-color: transparent;
  border-width: 0px;
  padding-left: 50px;
  position: absolute;
  top: 0;
  right: 0;
}

.navbar-btn {
  background-color: transparent;
  float:right;
  margin-top: 5px;
}

.navbar a {
  color: white;
}

.jumbotron h1 {
  color:white;
}

.navbar-form {
  z-index: 2;
  margin: 40px auto;
}

.fix-search {
  position: fixed;
  top: 0px;
  margin-top:5px;
}

#yelp-logo {
  width:80px;
  height:50px;
}

.how-works {
  text-align: center;
  color: #666;
}

.steps {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.steps img {
  height: 80px;
  width: 80px; 
  margin-bottom: 15px
}

#map {
  height:700px;
  /*border: 1px solid black;*/
  margin-bottom: 30px;
  padding: 0;
  box-shadow: 0 0 2px 2px #888888;
  z-index: 0;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
}

.info {
  margin: 0;
}

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
  
  &-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
  }
  
}

footer {
  background-color: #263238;
  color: white;
  height: 80px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  box-shadow: 0 0 2px 2px #888888;
}