/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "users";

body{
/*  background-image: url("background.jpg");
  background-color: transparent;*/
}

header {
  background-color: #e00036;
  width:100%;
  height: 45px;
  position: fixed;
  z-index: 1;
}

.logo {
  position: left top;
  height: 50px;
}

.main {
  /*background-image: url("yummybeast.jpg");*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  background-attachment: fixed;
  background-color: #e00036;
  height: 300px;
  box-shadow: 0 5px 5px 0px #888888;
}

.navbar{
  background-color: transparent;
  border-width: 0px;
  position: right top;
  padding-left: 50px;
}

.navbar-btn {
  background-color: transparent;
}

.navbar a {
  color: white;
}

.jumbotron h1 {
  color:white;
}


.restaurant-pic {
  width: 100px;
  height:100px;
}

#yelp-logo {
  width:80px;
  height:50px;
}

.how-works {
  text-align: center;
  color: #666;
}

.lines {
  display: block;
  height: 6px;
  width: 300px;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.steps {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.steps img {
  height: 100px; 
  margin-bottom: 15px
}

#map {
  height:700px;
  /*border: 1px solid black;*/
  margin-bottom: 30px;
  padding: 0;
  box-shadow: 0 0 2px 2px #888888;
  z-index: 0;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
}

.info {
  margin: 0;
}

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
  
  &-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display:block;
  }
  
}

footer {
  background-color: #263238;
  color: white;
  height: 80px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  box-shadow: 0 0 2px 2px #888888;
}