// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
  background-image: url("yummybeast.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  background-attachment: fixed;
  background-color: #f00036;
  height:500px;
}
.navbar{
  margin-bottom: 0px;
  background-color: transparent;
  border-width: 0px;
}
.navbar-btn {
  background-color: transparent;
}
.navbar a {
  color:white;
}
.search {
  margin-top: 100px
}